.navigation-section-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logo-container {
    width: 20%;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.profile-container {
    width: 20%;
}