.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navigation-section {
    height: 15%;
}

.mid-section {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.control-section {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
    width: 20%;
    padding: 8px;
}

.right-section {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.right-top-section {
    display: flex;
    flex-direction: row;
    height: 67%;
}

.right-bottom-section {
    height: 33%;
    padding: 8px;
}

.right-top-left-section {
    width: 40%;
    padding: 8px;
}

.right-top-right-section {
    width: 60%;
    padding: 8px;
}