.savefield-container {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color-hover);
    height: 50px;
    width: 250px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
}

.save-input {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    font-size: 0.9rem;
    max-width: 175px;
}

.save-field-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--icon-color);
    margin-left: 15px;
    cursor: pointer;
}

.save-field-icon-container:hover {
    color: var(--icon-color-hover);
}