.controls-container {
    background-color: var(--bg-secondary);
    display: flex;
    gap: 8px;
    padding: 8px 22px;
    min-height: 50px;
    min-width: 160px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid var(--border-color-hover);
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: var(--icon-color);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.control-btn:hover:not(:disabled) {
    color: var(--icon-color-hover);
    transform: scale(1.15);
}

.control-btn.active {
    background-color: var(--invalid-color-hover);
    color: var(--icon-color-hover);
    border-color: var(--border-color-hover);
    transform: scale(1.15);
}

.control-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
    transform: none;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.spin {
  animation: spin 1s linear infinite;
}
