.carcard-container {
    width: 100%;
    background-color: var(--bg-tertiary);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    font-family: system-ui;
    cursor: pointer;
}

.carcard-container:hover {
    background-color: var(--bg-secondary);
    border-color: var(--border-color-hover);
}

.carcard-container.selected {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color-hover);
}

.carcard-img {
    width: 100px;
    margin-left: auto;
    margin-top: 8px;
}

.carcard-img-container {
    display: flex;
    align-items: center;
    height: 65px;
    overflow: hidden;
}

.carcard-name {
    color: var(--text-primary);
    font-size: 0.9rem;
}

.carcard-timestamp {
    color: var(--text-secondary);
    font-size: 0.7rem;
}