.settings-container {
  height: 75vh;
  width: 75vw;
  background-color: var(--bg-secondary);
  border-radius: 16px;
  border: 1px solid var(--border-color-hover);
  display: flex;
  overflow-y: auto;
  font-family: system-ui;
}

.settings-container-left {
  width: 20%;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}

.settings-container-left-btn-container {
  display: flex;
  align-items: center;
  width: 85%;
  min-height: 40px;
  background-color: var(--bg-tertiary);
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  gap: 4px;
}
.settings-container-left-btn-container:hover,
.settings-container-left-btn-container.active {
  background-color: var(--bg-quaternary);
  border-color: var(--border-color-hover);
}
.settings-container-left-icon {
  color: var(--text-secondary);
  font-size: 20px;
}
.settings-container-left-btn {
  background: none;
  border: none;
  font-size: 0.95rem;
  color: var(--text-secondary);
}

.settings-container-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.settings-container-title {
  font-size: 18px;
  margin-bottom: 50px;
  color: var(--text-secondary);
  text-align: center;
}

.conf-container {
  min-width: 450px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.dhcp-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.form-group label {
  font-size: 14px;
  color: var(--text-secondary);
}

.custom-dropdown {
  position: relative;
  user-select: none;
  cursor: pointer;
}
.dropdown-selected {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--text-primary);
}
.custom-dropdown.open .dropdown-selected {
  border-color: var(--border-color-hover);
  background-color: var(--bg-tertiary);
}
.dropdown-items {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  border-radius: 4px;
  z-index: 10;
}
.custom-dropdown.open .dropdown-items {
  display: block;
}
.dropdown-item {
  padding: 8px 10px;
  font-size: 14px;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}
.dropdown-item:hover {
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
}

.form-group input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-size: 14px;
}
.form-group input:focus {
  outline: none;
  border-color: var(--border-color-hover);
  background-color: var(--bg-tertiary);
}

.pool-range-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pool-range-inputs input {
  flex: 1;
}
.right-chevron {
  font-size: 18px;
  color: var(--text-secondary);
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  padding: 10px 16px;
  width: 120px;
  margin: auto auto 0 auto;
  border-radius: 8px;
  cursor: pointer;
  color: var(--icon-color);
}
.save-button:hover {
  background-color: var(--bg-tertiary);
  border-color: var(--border-color-hover);
  color: var(--icon-color-hover);
}

.save-button:active {
  background-color: white;
  border-color: black;
  color: black;
}


.message-container {
  height: 20px;
}
.save-message {
  text-align: center;
  font-size: 0.8rem;
}
.save-message.success { color: var(--valid-color); }
.save-message.error   { color: var(--invalid-color); }